{% extends "base.html" %}
{% load static %}
{% block header %}
    <div class="text-right" style="margin-right:-50px ">
    <h1 class=" display-1" >{{heading}} </h1>
    <p class="lead">{{subheading}}</p>
    </div>
    {% endblock header %}

{% block content1 %}
    <div class="row bg-white" style="height:400px">
    	<h1 class="display-4 " >Content About 1</h1>
    </div>
{% endblock content1 %}

{% block content2 %}
    <div class="row bg-success" style="height:400px">
    	<h1 class="display-4 " >Content About 2</h1>
    </div>
{% endblock content2 %}

{% block app-css %}
    <link rel="stylesheet" type="text/css" href="{% static "about/css/styles.css" %}">
{% endblock app-css %}