{% extends "base.html" %}

{% block title %}
    {{page_title}}
{% endblock title %}

{% block contents %}
   	<h1>{{page_title}}</h1>
   	<br>

   	<form method="POST">
   		{% csrf_token %}

         {% for form in post_form  %}
            <div class="form-group">
               {{form.label}}
               {{form}}
            </div>
         {% endfor %}


         

   		<button class="btn btn-primary" type="Submit">Kirim</button>

   	</form>
{% endblock contents %}


{# <div class="form-group">
            {{post_form.judul.label}}
            {{post_form.judul}}
         </div>

         <div class="form-group">
            {{post_form.author.label}}
            {{post_form.author}}
         </div> #}