{% extends "base.html" %}

{% block page_title %}
    Create
{% endblock page_title %}

{% block contents %}
    <h1>Tambah Artikel</h1>

    <form method="POST">
    	{% csrf_token %}
		  <div class="form-group row">
		    <label for="{{form.judul.id_for_label}}" class="col-sm-2 col-form-label">{{form.judul.label}} :</label>
		    <div class="col-sm-10">
		      <input type="text"  class="form-control" name="{{form.judul.name}}" maxlength="{{form.judul.max}}" required  id="form.judul.id_for_label" value="{{form.judul.value}}">
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="{{form.isi.id_for_label}}" class="col-sm-2 col-form-label">{{form.isi.label}} :</label>
		    <div class="col-sm-10">
		      <textarea  class="form-control" name="{{form.isi.name}}" required rows="10" id="form.isi.id_for_label">{{form.isi.value}}</textarea>
		    </div>
		  </div>
		  <div class="form-group row">
		    <label for="{{form.kategori.id_for_label}}" class="col-sm-2 col-form-label">{{form.kategori.label}} :</label>
		    <div class="col-sm-10">
		      <input type="text"  class="form-control" name="{{form.kategori.name}}" maxlength="{{form.kategori.max}}" required  id="form.kategori.id_for_label" value="{{form.kategori.value}}">
		    </div>
		  </div>
		  <button type="submit" class="btn btn-success">Edit</button>
		  <a  class="btn btn-danger" href="{% url "artikel:manage" %}">Tidak</a>
		</form>
{% endblock contents %}