{% extends "base.html" %}

{% block title %}
    {{heading}}
{% endblock title %}


{% block content %}
	<form method="POST" style="margin-top:50px">
			{% csrf_token %}
			<div class="form-group">
				{{data_form.nama_lengkap.label_tag}}
				{{data_form.nama_lengkap}}				
				
			</div>

			<div class="form-group">
				{{data_form.jenis_kelamin.label_tag}}
				{% for component in data_form.jenis_kelamin %}
					<div class="form-check">
					{{component.tag}}
					<label for="{{component.id_for_label}}" class="form-check-label">
						{{component.choice_label}}

					</label>
					</div>
				{% endfor %}
			</div>	

			<div class="form-group">
				{{data_form.tanggal_lahir.label_tag}}

				<div class="form-row">
					{{data_form.tanggal_lahir}}
				</div>

			</div>
			<div class="form-group">
				{{data_form.email.label_tag}}
				{{data_form.email}}				
				
			</div>

			<div class="form-group">
				{{data_form.alamat.label_tag}}
				{{data_form.alamat}}				
				
			</div>

			<div class="form-group">
				<div class="form-check">
				{{data_form.agree}}	
				<label for="{{data_form.agree.id_for_label}}">
					{{data_form.agree.label}}
				</label>

				</div>
			</div>
		<button type="submit">Kirim</button>
	</form>




    
{% endblock content %}